
.data-playlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 36px;
    width: min(90%, 1440px); 
}

.data-playlist li {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 40%;
    max-width: 200px;
    align-items: center;
}

.data-playlist li img {
    height: auto;
    width: 100%;
    border-radius: 4px;
}

main {  
    overflow:scroll;
    padding: 2rem 2rem;
    align-items: normal;
}